*, *::before, ::after {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

// :root {
//   --hue-neutral: 200;
//   --hue-wrong: 0;
//   --hue-correct:145;
// }

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  background-color: #2A484E;
}

#question {
  color: white;
  background-color: #377375;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  @media only screen and (max-width:600px) {
      font-size: 20px;
  }
}
.baby {
  color: white;
  font-size: 35px;
  text-align: center;
  @media only screen and (max-width:600px) {
      font-size: 25px;
  }
}

.btn {
  cursor: pointer;
  font-size: 30px;
  @media only screen and (max-width: 600px) {
          font-size: 18px;
  }
}

.container {
  width: 800px;
  max-width: 80%;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 20px 2px white;
  background: #829D93;
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 13px;
    margin: 20px 0;
  }
  
  .btn {
    background: #377375;
    color: white;
    border: 3px solid rgb(252, 252, 252);
    border-radius: 5px;
    padding: 5px 10px ;
  }
  
  .btn:hover {
    border-color: #2a484e;
    box-shadow: inset 600px 0 377375;
    transition: all ease .8s;
  }

  .start-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 10px 30%;
    display: flex;
    align-items: center;
    border: none;
  } 

  .next-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 40px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;  
  }

  .hide {
    display: none;
  }
}

  #score {
    font-size: 20px;
    text-align: center;
}

#questionContainer {
  position: absolute;
  border: 2px solid #000000;
  background: #ffffff9a;
  padding: 20px 7%;
  font-size: 20px;
  text-align: center;
  display: none;
  box-shadow: 0 0 10px rgb(248, 0, 0);
  .yesno {
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;

  }
  p {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(0, 17, 43);
  font-size: 25px;
  }
  #yes {
    background: #053801;
    margin-right:20px ;
    &:hover {
      box-shadow: inset 200px 0 rgb(0, 255, 0);
      transition: all ease 1.8s;
      color: rgb(0, 15, 0);
    }
  }
  #no {
    background: #3d0101;
    &:hover {
      box-shadow: inset 200px 0 rgb(226, 20, 5);
      transition: all ease 1.8s;
      color: #ffffff;
    }
  }
}